@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.body {
    text-align: center;
}



.headline  {
width: 100%;
height: 50px;
border-width: 4px;
border-style: solid;
border-color: white;
position: absolute;
background-color: white;
top: 0px;
left: 0px;
}

.beitrag  {
width: 900px;
height: 1000px;
border-width: 4px;
border-style: solid;
border-color: white;
position: absolute;
background-color: white;
top: 100px;
left: 16%;
}

.logo
{
 left:15%;
 position: absolute;
}

form
{
 top:15;
 left:43%;
 position: absolute;
}

.haus
{
top:12;
left:78%;
position: absolute;
}

.teilen
{
top:12;
left:80%;
position: absolute;
}

.kompass
{
top:12;
left:82%;
position: absolute;
}

.herz
{
top:9;
left:84%;
position: absolute;
}

.beitrag1
{
top:45;
left:0px;
position: absolute;
}

.herzbeitrag
{
top: 950;
left:1px;
}

.teilenbeitrag
 {
top: 954;
left:83px;
position: absolute;
}

.lesezeichen
 {
top: 954;
left:860px;
position: absolute;
}

.dreipunkte
 {
top: 5;
left:860px;
position: absolute;
}

.komentar
 {
top: 957;
left:46px;
position: absolute;
 }